<?xml version="1.0"?>
<config>
    <modules>
        <Komplizierte_Autologin>
            <version>0.1.1</version>
        </Komplizierte_Autologin>
    </modules>
    <global>
        <events>
            <create_autologin_link>
                <observers>
                    <createAutologinLink>
                        <class>Komplizierte_Autologin_Model_Observer</class>
                        <method>createAutologinLink</method>
                        <type>model</type>
                    </createAutologinLink>
                </observers>
            </create_autologin_link>
        </events>
        <models>
            <autologin>
                <class>Komplizierte_Autologin_Model</class>
                <resourceModel>autologin_mysql4</resourceModel>
            </autologin>
            <autologin_mysql4>
                <class>Komplizierte_Autologin_Model_Mysql4</class>
                <entities>
                    <keys>
                        <table>autologin_keys</table>
                    </keys>
                </entities>
            </autologin_mysql4>
        </models>
        <blocks>
            <komplizierte_autologin>
                <class>Komplizierte_Autologin_Block</class>
            </komplizierte_autologin>
        </blocks>
        <helpers>
            <komplizierte_autologin>
                <class>Komplizierte_Autologin_Helper</class>
            </komplizierte_autologin>
        </helpers>
        <resources>
            <komplizierte_autologin_setup>
                <setup>
                    <module>Komplizierte_Autologin</module>
                </setup>
            </komplizierte_autologin_setup>
        </resources>
    </global>
</config>